.is_overlay{ display: block; width: 100%; height: 100%; }
#trailer {
	position: fixed;
	top: 0; right: 0; bottom: 0; left: 0;
	overflow: hidden;
}

#trailer > video {
	position: absolute;
	top: 0;
	left: 0;
	/* width: 100%;
	height: 100%; */
}

@media (min-aspect-ratio: 16/9) {
    #trailer > video { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
    #trailer > video { width: 300%; left: -100%; }
}
/*поддержка object-fit (Chrome/Chrome для Android, Safari в iOS 8 и Opera), используем его: */
@supports (object-fit: cover) {
    #trailer > video {
        top: 0; left: 0;
        width: 100%; height: 100%;
        object-fit: cover;
    }
}

.overlay {
    background: rgba(0,0,0,0.0);
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 4;
}

.overlay h1 {
    text-align:center;
    color:#fff;
    font-size: 70px;
    margin-top:17%;
}

.window {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	background-color: white;
	opacity: 0.8;
	border-radius: 8px;

	height: 300px;
	width: 550px;
	z-index: 3;
}

img {
	max-width: 55%;
	position: absolute;
	top: -190px;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

/* section button {
	position: absolute;
	top: -130px;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;

	height: 90px;
	width: 120px;
	background-color: #04207E;
}

.btn_window:hover {
  transition: 3s;
}

section button:hover {
  background-color: #ffffff;

} */

section button {

	position: absolute;
	top: 222px;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;

	height: 40px;
	width: 168px;


  font-size: 1.0rem;
  display: block;
  background-color: #04207E;
  border: 1px solid transparent;

  color: white;
  font-weight: 300;
  -webkit-border-radius: 3px;
  border-radius: 8px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
	z-index: 2;
}

section button:hover {
  background-color: #97A3BF;
}
